/* src/components/sections/PageHeaderSection/PageHeaderSection.module.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.pageHeader {
  background: var(--primary-color);
  padding: calc(var(--header-height) + 4rem) 0px 1.5rem;
  color: var(--white);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 6rem;
}

.headerLeft {
  flex: 1;
}

.pageTitle {
  font-size: 1.5rem; /* Ajustado para melhor legibilidade */
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  color: var(--white);
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1
}

/* Responsividade */
@media (max-width: 1024px) {
  .pageTitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .pageHeader {
    padding: calc(var(--header-height) + 1rem) 0px 1.5rem;
  }
  
  .headerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  
  .pageTitle {
    font-size: 1.2rem;
    line-height: 1.15;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }
  
  .pageTitle {
    font-size: 1.6rem;
    line-height: 1.25;
  }
}