.experience {
  padding: 6rem 0;
  background: var(--white);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  /* color: var(--primary-color); */
  font-weight: 600;
}

.text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--paragraph-color);
}

.text p {
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .experience {
    padding: 4rem 0;
  }

  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 1rem;
  }
}