.experience {
  padding: 6rem 0 6rem 0;
  background: var(--white);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .2em;
}

/* Estilo para a declaração principal (agora H3) */
.mainStatement {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 600;
  /* margin-bottom: 1.5rem; */
  color: var(--primary-color);
}

/* Estilo para o texto que será animado letra por letra */
.animatedText {
  font-weight: 600;
  display: inline-block;
}

/* Estilo para as letras individuais (serão criadas via JS) */
.animatedText span {
  display: inline-block;
}

@media (max-width: 768px) {
  .experience {
    padding: 4rem 0;
  }

  .title {
    font-size: 0.8rem;
  }

  .mainStatement {
    font-size: 1.2rem;
    line-height: 1.3;
  }
}

@media (max-width: 480px) {
  .mainStatement {
    font-size: 1.2rem;
  }
}