:root {
  --primary-color: #05213a;
  --secondary-color: #d0ab76;
  --paragraph-color: #647887;
  --background-light: #f8f9fa;
  --white: #ffffff;
  --black: #000000;
  --header-height: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  color: var(--paragraph-color);
  background: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}