
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Introduction Section */
.introduction {
  padding: 6rem 0 4rem 0;
  background: var(--white);
  text-align: center;
}

.introContent {
  max-width: 840px;
  margin: 0 auto;
}

.introTitle {
  font-size: .8rem;
  line-height: 1.2;
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: .8rem;
  font-weight: 600;
}

.introSubtitle {
  font-size: 1.8rem;
  color: var(--title-color);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.introDescription {
  font-size: 1.1rem;
  color: var(--paragraph-color);
  line-height: 1.7;
  font-weight: 300;
  margin: 0 auto;
  max-width: 700px;
}

.introSubtitle strong {
  font-weight: 700;
}

.introDescription strong {
  font-weight: 700;
  color: var(--title-color);
}

/* Solutions List Section */
.solutionsListSection {
  padding: 2rem 0 0 0; /* top 2rem, bottom 0? (ou ajustar conforme necessário) */
  background: var(--white);
}

/* Detailed Solutions Section */
.detailedSolutions {
  padding: 6rem 0;
  background: var(--white);
}

.detailedSolutions .container {
  border-top: 1px solid #0000001a;
  padding-top: 6rem;
}

/* Responsividade */
@media (max-width: 1024px) {
  .introSubtitle {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {

  .container {
    padding: 0 1rem;
  }

  .detailedSolutions .container {
  padding-top: 3.6rem;
}

  .introduction {
    padding: 3rem 0;
  }

  .introTitle {
    font-size: .7rem;
    margin-bottom: .6rem;
    line-height: 1.3;
  }
  
  .introSubtitle {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    line-height: 1.2;;
  }

  .introDescription {
    font-size: 0.9rem;
    margin-bottom: 0;
    line-height: 1.7; 
  }
  
  .solutionsListSection,
  .detailedSolutions {
    padding: 0 0 3rem 0;
  }
}